@{
    ViewData["Title"] = "Home Page";
}

<div class="container-fluid px-4 pb-3" role="main">
    <h1 class="pt-4">@ViewData["Title"]</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item active">
            Dashboard
        </li>
    </ol>
</div>

<div class="px-4">Plan to display sales & prediction summary soon.</div>
<div class="px-4">Basic authentication</div>